@model EmployeeVm

<div class="container p-5">


    <form asp-action="Delete" method="post" asp-controller="Employee">

        <div class=""hidden>
            <input asp-for="Id" />
        </div>


        <div class="form-group">
            <label for="Name">Name</label>
            <input class="form-control" asp-for="Name" readonly>
            <span asp-validation-for="Name"></span>
        </div>


        <div class="form-group">
            <label for="vacationBalance">vacationBalance</label>
            <input class="form-control" asp-for="VacationBalance" readonly>
            <span asp-validation-for="VacationBalance"></span>
        </div>




        <div class="form-group">
            <select asp-items="@(new SelectList(ViewBag.Department,"Id","Name"))" asp-for="DepartmentId" class="form-control" readonly>
                <option value="">----Choose Department</option>
            </select>



            <button class="btn btn-success" type="submit">Delete</button>
        <button class="btn btn-danger" asp-action="Index">Back </button>



    </form>
</div>